{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Your favourite ancient monuments, all in one place </p>
    <p class="box">

      <i class="fas fa-plus fa-4x" style="color:deepskyblue"></i>
      <p>Image Placeholder</p>

    </p>
  </div>
</section>