{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Your favourite ancient monuments, all in one place </p>
    <p class="box">

      <img src="/images/newgrange.jpg">

    </p>
  </div>
</section>