{{> menu active="dashboard"}}

<section class="section">
  {{#if noPlacemarks}}
    <div class="box is-hoverable">
      <p class="is-size-3">
        No placemarks yet, add one below!
      </p>
    </div>
  {{else}}
    {{> list-placemarks}}
  {{/if}}
  {{> add-placemark}}
</section>