{{> menu active="dashboard"}}

<section class="section">
  <div class="title">
    {{placemark.name}}
  </div>
  <div>
    <h3 class="is-size-2">
        Category: {{placemark.category}}
    </h3>
  </div>
  {{> list-sites}}
  {{> add-site}}
</section>