<div class="has-background-light">
  <div class="title p-3 is-flex" style="align-items: center;">
    {{>icons/logo}}
    <div class="ml-6">
      <h1 class="title is-size-1">PLACEMARK</h1>
    </div>
  </div>
</div>